# os related
.DS_Store

# ide related
.idea/
*.sublime-project
*.sublime-workspace

#python environment
venv/
__pycache__/
*.pyc

# front end
node_modules/
bower_components/

# others
.vagrant/
*.sqlite
*.log
*.bak
