{% set isIndex = True %}
{% extends "layout/front.html" %}
{% block main %}
	<div class="container">
		<div></div>
		<div class="row">
			<div class="col-md-8">

				<p class="main-title">
					今天，你遇到了什么问题呢？
					<a class="btn btn-primary" href="#">我要发帖</a>
				</p>

				{% call core.panel() %}
                    {% call core.panelBody() %}
						内容
                    {% endcall %}
                {% endcall %}

                {% call core.panel() %}
                    {% call core.panelBody() %}
						内容
                    {% endcall %}
                {% endcall %}

                {% call core.panel() %}
                    {% call core.panelBody() %}
						内容
                    {% endcall %}
                {% endcall %}

                {% call core.panel() %}
                    {% call core.panelBody() %}
						内容
                    {% endcall %}
                {% endcall %}

				<ul class="pagination">
					<li class="disabled"><a href="#">«</a></li>
					<li class="active"><a href="#">1</a></li>
					<li><a href="#">2</a></li>
					<li><a href="#">3</a></li>
					<li><a href="#">4</a></li>
					<li><a href="#">5</a></li>
					<li><a href="#">»</a></li>
				</ul>

			</div>
			<div class="col-md-4 col-md-off-8">

                {% call core.panel("标题1") %}
                    {% call core.panelBody() %}
						内容
                    {% endcall %}
                {% endcall %}


                {% call core.panel("标题2") %}
                    {% call core.panelBody() %}
						内容
                    {% endcall %}
                {% endcall %}

			</div>
		</div>
	</div>

    {% for post in posts %}
		<div>{{ post.body }}</div>
    {% endfor %}

{% endblock %}